<%-include('header')-%>
<div class="text-center center-div" id="login">
    <div class="container w-25 border py-5">
        <div class="title pb-5">
            <h2 class="font-weight-bold">Registered Successfully</h2>
            
        </div>
        <form class="form-inline my-2 my-lg-0" action="/route/signin">
            <button type="submit" class="btn btn-success rounded-pill">Login</button>
            
        </form>
    </div>
</div>
<%-include('footer')-%>